:root {
    --number: 4;
    --color-page-hover: #ececd7;
    --color-page-border: #749cec;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2d2f;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    color: #fff;
}

.slider {
    display: flex;
    width: 50vw;
    height: calc(60vw * 0.56);
    flex-direction: column;
    gap: 1.25rem;
    overflow: hidden;
}

.slider__slides-wrapper {
    display: inline-flex;
    width: calc(100% * var(--number));
    height: 100%;
    transition: transform 0.4s ease 0.2s;
}

@media screen and (max-width: 1024px) {
    .slider {
        width: 70vw;
        height: calc(80vw * 0.56);
    }
}

.slider__text-wrapper {
    display: flex;
    color: #ececd7;
}

.slider__pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

/*
@media screen and (max-width: 768px) {
    .slider {
        display: flex;
        flex-direction: column;
    }

    .slider__text-wrapper {
        order: 1;
    }

    .slider__pagination-wrapper {
        justify-content: center;
    }
}
 */

input {
    display: none;
}

.slide {
    /* display: none; */
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #ffffff50;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide-1 {
    background-image: url("../images/1.jpg");
}

.slide-2 {
    background-image: url("../images/2.jpg");
}

.slide-3 {
    background-image: url("../images/3.jpg");
}

.slide-4 {
    background-image: url("../images/4.jpg");
}

/* Анимация смены слайдов */
#slide1:checked ~ .slider__slides-wrapper {
    transform: translateX(0);
    transition: transform 0.4s;
}

#slide2:checked ~ .slider__slides-wrapper {
    transform: translateX(-25%);
    transition: transform 0.4s;
}

#slide3:checked ~ .slider__slides-wrapper {
    transform: translateX(-50%);
    transition: transform 0.4s;
}

#slide4:checked ~ .slider__slides-wrapper {
    transform: translateX(-75%);
    transition: transform 0.4s;
}


.slider__text-wrapper .text {
    display: none;
    opacity: 0;
}

/* @media screen and (max-width: 360px) {
    .slider__text-wrapper .text {
        font-size: 1rem;
    }
} */

@keyframes fadeInOut {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    70% {
        opacity: 0.7;
        display: block;
    }

    80% {
        opacity: 0.8;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

#slide1:checked ~ .pagination-container .text-1  {
    display: block;
    opacity: 1;
    animation: fadeInOut 0.8s ease-in-out;
}

#slide2:checked ~ .pagination-container .text-2  {
    display: block;
    opacity: 1;
    animation: fadeInOut 0.8s ease-in-out;
}

#slide3:checked ~ .pagination-container .text-3  {
    display: block;
    opacity: 1;
    animation: fadeInOut 0.8s ease-in-out;
}

#slide4:checked ~ .pagination-container .text-4  {
    display: block;
    opacity: 1;
    animation: fadeInOut 0.8s ease-in-out;
}

/* блок пагинации */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
}

/* ховер для кнопок  пагинации */
.pagination:hover .pagination-dot {
    background-color: var(--color-page-hover);
    transition: background-color 0.4s ease-in-out;
}

/* точки для пагинации */
.pagination-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-page-border);
    transition: background-color 0.4s ease-in-out;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

/* меняем размер точек на мал экранах */
@media screen and (max-width: 1024px) {
    .pagination-dot {
        width: 0.75rem;
        height: 0.75rem;
    }
}

/* состояние точек при выбранном инпуте  и  ховер на них */
#slide1:checked ~ .pagination-container .pagination-1 > span {
    background-color: transparent;
    border: 2px solid var(--color-page-border);
    transition: border 0.4s ease-in-out;
}

#slide1:checked ~ .pagination-container .pagination-1:hover span {
    border-color: var(--color-page-hover);
    transition: border 0.1s ease-in-out;
}

#slide2:checked ~ .pagination-container .pagination-2 > span {
    background-color: transparent;
    border: 2px solid var(--color-page-border);
    transition: border 0.4s ease-in-out;
}

#slide2:checked ~ .pagination-container .pagination-2:hover span {
    border-color: var(--color-page-hover);
    transition: border 0.1s ease-in-out;
}

#slide3:checked ~ .pagination-container .pagination-3 > span {
    background-color: transparent;
    border: 2px solid var(--color-page-border);
    transition: border 0.4s ease-in-out;
}

#slide3:checked ~ .pagination-container .pagination-3:hover span {
    border-color: var(--color-page-hover);
    transition: border 0.1s ease-in-out;
}

#slide4:checked ~ .pagination-container .pagination-4 > span {
    background-color: transparent;
    border: 2px solid var(--color-page-border);
    transition: border 0.4s ease-in-out;
}

#slide4:checked ~ .pagination-container .pagination-4:hover span {
    border-color: var(--color-page-hover);
    transition: border 0.1s ease-in-out;
}
